#cloud-config
# check:
#    python -c 'import yaml, sys;print yaml.load(sys.stdin)' < FILE
hostname: um-tlng-juju-1
manage_etc_hosts: true
groups:
  - tlng

users:
  - name: ubuntu
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh-import-id: [jjo, navarrow]
    ssh_authorized_keys: [ ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCWIFcAPNeWp0EuiihF0M8jk6F6UUcEvRY/a/JHYXNey0y6/Iyzr+S+Sd28iMSEyRBPBV7mmcxOtqc3V81rEI9vaIYtx+0xEikYwSDRwMekyQanXMRoeMlGOryjBariYPMfPgfW3Ah1qG73LNiV+0jo0qGJTO0F5H/u0s3TYotnPKZwU2Q0+k510ajCZMhVRD5SNE4hY125yFLRKTd4UUEQO3t5Mr/sCCDR6yaQdYg4aQqR0/7f5KxKm5CkTPSbNhueFvxYNUVNrZJECy1WvW0Z8Dy5nF+2/zm6GHONIsYxi8W1JZiAvh/C9Tak4q5a+82/F5Xsr9FdNxW4p1D3Nh// jujumanage@um-tlng-stack-0 ]
    # not a password really, created with:
    # mkpasswd --method=SHA-512 -s <<< "ubuntu"
    passwd: $6$iTz6jy3X$dVgo.0Uh4Rmoz0Rj.2YGBmST4Y.ZoVrPjov4O5C5uuvkQnI42uMg9YPQT/6o89OZnNLkvg/bCT0yLs.rqQdi/1

  - name: tlng
    gecos: TLNG
    shell: /bin/bash
    primary-group: tlng
    groups: users,admin,adm
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock-passwd: false
    ssh-import-id: [jjo, navarrow]
    passwd: $6$REsFe3gQJ4C.$HhkRmukaJ0tWyqvT75wkOCEkcIXyNz8Wm/F77vE6vd1XoxgoOVGNHriRkCH.3VPUcUm16UFj7IdAz.oIs0O9U.
    ssh_authorized_keys: [ ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC0i2X1RYH90DsHXzTu2e7MP3EbPGAlJWyWdhBdcy6WeHrQi4bv1HcM3TJURZ6WNwbw/2urnK0Z1uJsnmmGiNJEH6ejU2cuQABILSMqtueGVcTq2Hfr3xDqUYlDfm4GQylbQBwj4iNSQify5ZvBezsyBsiQrtsF8J2keG57EhvzJlqJE1zRY2puphoZDUV6R+7Xf9tCLWqWxepfNESi43m7YtG3MdVAeDuXnr9lKVm7hkA+RzRAR2FsOW4/WY377PLWD3ZOdjIdp2rsEp3umMCBlc0gaoDyBXbQiN8kFLPQ0Q+rqsTEXKbNiP1Or7NU5cvCoHAXhb9NA6XvOXEYSvWB tlng@um-tlng-stack-0 ]

write_files:
  - content: |
        auto eth0
        iface eth0 inet static
        address 192.168.0.6
        netmask 255.255.240.0
        gateway 192.168.1.1
        dns-nameservers 192.168.1.13
        dns-search um.edu.ar
    path: /etc/network/interfaces.d/eth0.cfg
  - content: |
        auto eth1
        iface eth1 inet static
        address 10.10.0.6
        netmask 255.255.255.0
    path: /etc/network/interfaces.d/eth1.cfg
  - content: |
        nameserver 192.168.1.13    
        nameserver 8.8.8.8
    path: /etc/resolvconf/resolv.conf.d/base

runcmd:
  - [ ifdown, -a ]
  - [ ifup, -a ]
  - [ resolvconf, -u ]
packages:
  - unattended-upgrades

# Reboot, to apply networking changes
power_state:
    mode: reboot
    message: Bye Bye
    timeout: 30

# vim: ts=4 sw=4 si et 
