# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
iface eth0 inet manual

auto br0
iface br0 inet static
        bridge_ports eth0
        address 10.10.3.131
        netmask 255.255.255.0

auto eth1
iface eth1 inet manual

auto veth-os-host
iface veth-os-host inet manual
	pre-up ip link add name veth-os-host type veth peer name veth-os-ovs
	pre-up ip link set dev veth-os-host up
	pre-up ip link set dev veth-os-ovs up
	post-down ip link del dev veth-os-host

auto br1
iface br1 inet static
        bridge_ports eth1 veth-os-host
	address 192.168.3.131
	netmask 255.255.240.0
	gateway 192.168.1.1
	dns_nameservers 8.8.8.8
	up /sbin/iptables -t nat -I POSTROUTING -s 10.10.3.0/24 -o br1 -j MASQUERADE


